/*---------------------*/
/*  Custom Properties  */
/*---------------------*/

:root {
  /* Font Families */
  --ff-sans: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;

  /* Font Sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Colors */
  --clr-bright: white;
  --clr-midtone: goldenrod;
  --clr-dark: #016f32;
}

/*----------*/
/*  Resets  */
/*----------*/

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------*/
/*  Base Styling  */
/*----------------*/

/* Foundation layer */
body {
  display: grid;
  justify-content: center;
  background-image: url("images/table.png");
  background-size: cover;
}

.main-container {
  font-family: var(--ff-sans);
  font-weight: bold;
  color: var(--clr-bright);
  text-align: center;
  border: 1px solid blue;
  max-width: 90%;
  min-width: 300px;
}

/* Typography */
h1 {
  color: var(--clr-midtone);
  font-size: 4rem;
}

h2 {

}

p {

}

/*--------------------*/
/*  Specific Styling  */
/*--------------------*/

#message-el {
  font-style: italic;
}

button {
  color: var(--clr-dark);
  width: 4rem;
  background: var(--clr-midtone);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.control-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

button {
  margin: 5px;
}

#stand-btn,
#hit-btn {
  display: none;
}
